name: Code Scanning (SpotBugs)

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  spotbugs:
    name: SpotBugs Analysis
    runs-on: ubuntu-22.04
    steps:
      - name: Check out the Git Repository
        uses: actions/checkout@v4

      - name: Set up Java toolchain
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "21"
          cache: "gradle"

      - name: Make gradlew executable
        run: chmod +x gradlew

      - name: Run SpotBugs
        run: ./gradlew spotbugsMain

      - name: Upload SpotBugs results
        uses: actions/upload-artifact@v4
        with:
          name: spotbugs-report
          path: build/reports/spotbugs/*.xml
          retention-days: 30
